.Validar_contraseña {
   
    margin: auto    ;
    width: 60%;
    box-shadow: -2px 1px 64px 2px rgba(173,155,173,1);
    padding: 40px;
    font-family: Franklin Gothic Medium;
    text-align: center
}


header h1, .tienda {
    text-align: center;
    font-family: Franklin Gothic Medium;
    font-size: 30px;
    color: rgba(173,155,173,1);
}

.tienda {
    height: 100%; 
    width:100%; 
    font-size: 40px;
}

#derecha, #centro, #izquierda {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    font-size: 12px;
}
#izquierda, #centro, #derecha {
    width: 30%;
    border: solid;
    font-size: 15px;
    
}
img {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-top: 34px;
    padding-bottom: 34px;
}

.tienda, .Validar_contraseña {
    margin-top: 70px;
}

#cant {
    width: 20%;
}

.cantidad_productos, .total {
    padding-bottom: 10px;
    padding-top: 10px;
}

ul, li{
        padding-top: 40px;
      font-family: Franklin Gothic;
}
.preguntas {
    padding-bottom: 40px;
}
