
/*-------------------------MARCA DE AGUA ---------------------------------------------*/
.marca_de_agua {
    text-align: center;
    background-color: #E6E6E6;
    padding: 40px;
    position: relative;
    
}

.marca_de_agua h1{
    color: #0B4C5F;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;   
}

.marca {
    padding-left: 13%;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    visibility: hidden;
    opacity: 0.6;
    color: #F7819F;
    position: absolute;
    top: 0px;
   
}

.button {
    background-color: #0489B1;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    background-color: cadetblue;
}

/*----------------------------------- ESTILOS ONCLICK ------------------------*/

.cambiar_estilo {
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.cambiar_estilo p {
    font-size: 17px;  
}


/* -------------------------------- AYUDA -------------------------------*/

.formulario {
    background-color: #E6E6E6;
    padding-left: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

.ayuda{
    display: inline;
    position: relative;
}
.ayuda:hover:after{
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 1;
    width: 220px;
    background: lavenderblush;
    
    border-radius: 5px;
    bottom: 23px;
    color: black;
    
}

.icon {
    color: crimson;
}

.button2 {
     background-color: crimson;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button2:hover {
    background-color: grey;
}

/*-----------------------------------------------RELOJ------------------------------------------*/

.reloj {
    height: 300px;
    padding-top: 110px;
    padding-left: 560px;
    font-size: 50px;
    color: grey;
    background-color: lavenderblush;
}

/*---------------------------------------DRAG -----------------------------------------*/
.drag img {
    height: 300px;
    width: 350px;
    
}

.drag p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #04B4AE;
}

.drag {
    height: 350px;
    padding-left: 35%;
}

#div {
    width: 350px;
    height: 300px;
    padding:10px;
    border:1px solid #04B4AE;
    float: right;
}

/*----------------------------------PREGUNTAS---------------------------------*/

.preguntas {
    background-color: #E6E6E6;
    padding-left: 50px;
    padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.preguntas h1 {
    color: lightpink;
    font-weight: 500;
    font-size: 50px;
}

.preguntas p {
    background-color: white;
    padding: 10px;
}

.preguntas h3 {
    color: cadetblue;
}

.preguntas h4 {
    color: darkgrey;
}

/*---------------------------------REFERENCIAS-------------------------*/

.referencias {
    height: 800px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    
    padding: 40px;
}

.referencias h1 {
    text-align: center;
    color: crimson;
}

/*.ref {
    display: none;
    padding-left: 30px;
    padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 40px;
    color: darkgrey;
} */

.referencias a{
    text-align: left;
    font-size: 17px;
    color: darkgray;
}
