
/* -------------------------------- AYUDA -------------------------------*/

.required {
    color: crimson;
    font-family: Arial, Helvetica, sans-serif;
}

.formulario {
    background-color: #E6E6E6;
    padding-left: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    font-family: Arial, Helvetica, sans-serif;
}

.ayuda{
    display: inline;
    position: relative;
}
.ayuda:hover:after{
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 1;
    width: 220px;
    background: lavenderblush;
    
    border-radius: 5px;
    bottom: 23px;
    color: black;
    
}

.icon {
    color: crimson;
}

.button2 {
     background-color: crimson;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button2:hover {
    background-color: grey;
}


/*-----------------------------------------------RELOJ------------------------------------------*/

.reloj {
    height: 300px;
    padding-top: 110px;
    padding-left: 560px;
    font-size: 50px;
    color: grey;
    background-color: lavenderblush;
}


/*----------------------------------PREGUNTAS---------------------------------*/

.preguntas {
    background-color: #E6E6E6;
    padding-left: 50px;
    padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    
}

.preguntas h1 {
    color: lightpink;
    font-weight: 500;
    font-size: 50px;
}

.preguntas p {
    background-color: white;
    padding: 10px;
}

.preguntas h3 {
    color: cadetblue;
}

.preguntas h4 {
    color: darkgrey;
}

/*---------------------------------REFERENCIAS-------------------------*/

.referencias {
    height: 800px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    
    padding: 40px;
}

.referencias h1 {
    text-align: center;
    color: crimson;
}

/*.ref {
    display: none;
    padding-left: 30px;
    padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 40px;
    color: darkgrey;
} */

.referencias a{
    text-align: left;
    font-size: 17px;
    color: darkgray;
}

/*----------------ERROR---------------------------------*/

.error {
    color: crimson;
    font-family: Arial, Helvetica, sans-serif;
}


/* --------------------------------INPUT---------------------------------*/

.input {
     font-family: Arial, Helvetica, sans-serif;
    background-color: #E6E6E6;
    padding-left: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
  
    font-family: Arial, Helvetica, sans-serif;
    display: none;

}

#input h2 {
    text-align: center;
     font-family: Arial, Helvetica, sans-serif;
    
    
}

.personalData h2{
    text-align: center;
    font-size:30;
    
}

.personalData:hover  {
    background-color: #FFCCFF;
}
.personalData:hover~#input {
    display: block;
}
