* {
    font-family: tahoma;
    padding: 8px;
}
h1 {
    text-align: center;
    background-color: #1C1B1B ;
    color: #FFFFFF; 
    background-size: 10%,50%;

}

#section1 h3, #section1 h4{
    color: #F9C51B;
}

#section2 h3, #section2 h4{
    color: #8CC95B;
}
#section3 h3, #section3 h4{
    color: #5BC1C9;
}
#section4 h3, #section4 h4{
    color: #AF1581;
}
#section5 h3, #section5 h4{
    color: #E16464;
} 

#img1 {
    margin-left: 27.5%;
    margin-right: 27.5%;
    width: 45%;

}

#img2 {
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
   
}

#link_inicio, #link_inicio2, #link_inicio3, link_inicio4, #link_inicio5 {
    text-align: center;
    font-weight: 600;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #5C555A;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #F5B5CE;
}

#section1 {
 -webkit-box-shadow: inset 0px 7px 103px 5px rgba(0,0,0,0.5);
-moz-box-shadow: inset 0px 7px 103px 5px rgba(0,0,0,0.5);
box-shadow: inset 0px 7px 103px 5px #FBF4D3;
}
#section2 {
 -webkit-box-shadow: inset 0px 7px 103px 5px rgba(0,0,0,0.5);
-moz-box-shadow: inset 0px 7px 103px 5px rgba(0,0,0,0.5);
box-shadow: inset 0px 7px 103px 5px #E3FBD3;
}
#section3 {
 -webkit-box-shadow: inset 0px 7px 103px 5px rgba(0,0,0,0.5);
-moz-box-shadow: inset 0px 7px 103px 5px rgba(0,0,0,0.5);
box-shadow: inset 0px 7px 103px 5px #D3EEFB;
}
#section4 {
 -webkit-box-shadow: inset 0px 7px 103px 5px rgba(0,0,0,0.5);
-moz-box-shadow: inset 0px 7px 103px 5px rgba(0,0,0,0.5);
box-shadow: inset 0px 7px 103px 5px #FFDAE9;
}
#section5 {
 -webkit-box-shadow: inset 0px 7px 103px 5px rgba(0,0,0,0.5);
-moz-box-shadow: inset 0px 7px 103px 5px rgba(0,0,0,0.5);
box-shadow: inset 0px 7px 103px 5px #FFCCCC;
}

.button {
   border-top: 1px solid #ffffff;
   background: #d6dee3;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffb8e0), to(#d6dee3));
   background: -webkit-linear-gradient(top, #ffb8e0, #d6dee3);
   background: -moz-linear-gradient(top, #ffb8e0, #d6dee3);
   background: -ms-linear-gradient(top, #ffb8e0, #d6dee3);
   background: -o-linear-gradient(top, #ffb8e0, #d6dee3);
   padding: 12.5px 25px;
   -webkit-border-radius: 17px;
   -moz-border-radius: 17px;
   border-radius: 17px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #000000;
   font-size: 19px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #782842;
   background: #782842;
   color: #ccc;
   }
.button:active {
   border-top-color: #e9f2ec;
   background: #e9f2ec;
   }
