        <section>
            <div class = "preguntas">
                <h1><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>  Preguntas</h1>
                
                  <h3>¿Qué es ODBC y para qué es útil?</h3>
                <p> Es un estándard desarrollado por SQL Access para acceder a una base de datos, hace posible acceder a cualquier dato desde cualquier aplicación, sin importar el DBMS que se utilice.</p>
                                          
                <h3>¿Qué es SQL Injection?</h3>
                <p>Es una tecnica que permite que usuarios maliciosos inserten comandos SQL en una declaración SQLlo cual puede comprometer la seguridad de una aplicación web. Puede destruir tu base de datos. </p>
                
                <h3>¿Qué técnicas puedes utilizar para evitar ataques de SQL Injection?</h3>
                <p>Utilizando parámetros SQL, los cuales son calores que se agregan a una petición SQL en su tiempo de ejecución. Son representados con un @ al inicio.</p>
               
            </div>
            
        </section>
         <section>
            <div class = "referencias">
             <h1><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Referencias</h1>
              
                 <a>N.A. (S.F). ODBC - Open DataBase Connectivity. 11 Marzo de 2016, de Webopedia Sitio web: http://www.webopedia.com/TERM/O/ODBC.html</a> <br>
                <a>N.A. (S.F.). SQL Injection. 11 Marzo de 2016, de w3Schools Sitio web: http://www.w3schools.com/sql/sql_injection.asp</a>
                
            </div>
        </section>
