<?php include('_header.html'); ?>

<?php include('_menu.html'); ?>
<?php preguntas();?>
<div class = "cons">
    
    
    <div class="container" class = "co">
    <h1><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Registro de Competidores</h1>
        <!--   <form action = "control.php" method = "post">
        <select name = "cons">
            <option value="hombres">Hombres</option>
            <option value="mujeres">Mujeres</option>
        </select>
        <input type = "submit" name = "Submit" onClick= "consulta()">
    </form> -->

        <?php echo getCompetidores(); ?>
        
    </div>
    <div>
        
        <?php echo getMujeres(); ?>
        

    </div>
    <div>
        <h1><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Mujeres</h1>
        
        <?php echo getHombres(); ?>

    </div>
        <h1><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Hombres</h1>
</div>



<?php include('_footer.html'); ?>