.preguntas {
    padding: 50px;
    background-color: aliceblue;
}

.preguntas h1 {
    font-weight: 200;
    color: crimson;
}

.preguntas p {
    background-color: white;
}

.referencias {
    padding: 50px;
}

.referencias h1{
    font-weight: 200;
    color:crimson;
    
}

.cons {
    padding: 50px;
    background-color: azure;
}

.cons h1 {
    font-weight: 200;
    color: cadetblue;
}