.preguntas {
    background-color: #EAFAFD;
    padding-top: 40px;
    padding-left: 30px;
    padding-bottom: 40px;
    padding-right: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.preguntas h1 {
    font-size: 40px;
    font-weight: 500;
    color: darkgray;
    text-align: center;
}

.preguntas p {
    color: cadetblue;
    font-size: 16px;
}

.referencias {
    background-color: white;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.referencias h1 {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
}