/*----------------TITLE SQUARE-------------------------------*/

.title_square {
   
    margin-left: 16%;
    margin-right: 16%;
    text-align: center;
    padding-top: 120px; 
    padding-bottom: 120px;
    padding-left 300px;
    padding-right: 65px;

}


.title_background {
    background: url("img/title_background.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    position: relative;
    background-blend-mode:overlay;
}

/*-----------------TITLE PLANTILLA--------------*/
.title_background2 {
    background: url("img/4.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    position: relative;
    background-blend-mode:overlay;
}

.title_square2 {
margin-left: 16%;
    margin-right: 16%;
    text-align: center;
   
    position: inherit;
    height: 500px;



}
.title_box2 h1 {
   
    letter-spacing: 0px ; 
    margin:     0px;
    font-family:  Menlo, Monaco, Consolas, "Courier New", monospace;
    font-weight: 400;
    line-height: 1.1;
    color: #FA9AB1;
     font-size: 180px;
     padding-top: 15%; 
    padding-bottom: 15%;
}


/*---------------------TITLE ANIMATION--------------------*/
.title {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    animation-name: fadeInDown;
    -webkit-animation-name:fadeInDown;
    animation-duration: 1s;
}

/*-wekit- ?*/
 @keyframes fadeInDown {
            0% {
               opacity: 0;
               transform: translateY(-20px);
            }
            100% {
               opacity: 1;
               transform: translateY(0);
            }
}
@-webkit-keyframes fadeInDown {
            0% {
               opacity: 0;
               transform: translateY(-20px);
            }
            100% {
               opacity: 1;
               transform: translateY(0);
            }
}
.title_box h1 {
    font-size: 40px; 
    letter-spacing: 12px; 
    margin: 10px;
    
    font-family:  Menlo, Monaco, Consolas, "Courier New", monospace;
   
    font-weight: 500;
    line-height: 1.1;
    color: white;
     margin-top: 20px;
  margin-bottom: 10px;
     font-size: 150px;
}




/*-wekit- ?*/
/*--------------------------SUBTITLE ANIMATION--------------------*/


.subtitle {
    position: relative;
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: #F6CED8;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-delay: 0.5s; 
    -webkit-animation-delay: 0.5s;
}
    

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
        /*translate3d(0, 100%, 0);*/
    transform: translateY(20px);
        /*translate3d(0, 100%, 0); */
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0px);    transform: translateY(0px);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
        /*translate3d(0, 100%, 0);*/
    transform: translateY(20px);
        /*translate3d(0, 100%, 0); */
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0px);    transform: translateY(0px);
  }
}

/*------------------------------MENU----------------------------- */
.menu {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
 /*   margin-right: -15px;   
    margin-left: -15px; */
    position: relative;
  /*  margin-left: 16.66666667%;*/
    background-color: #F6CED8; 
    margin-top: -1px;
    

}

.menu_nav { 
    display: none; 
}


/*--------------------------------DROPDOWN ANIMATION ---------------------------------*/

.dropbtn {
    background-color: #F6CED8;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F6CED8;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: lightgrey;
}

/*-------------------------DROPDOWN CONTENT 2 ----------------------*/

.dropbtn2 {
    background-color: #F5B7C5;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
    
.dropdown:hover .dropbtn2 {
    background-color: lightgrey;
}
    
.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #A196B3;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
}

.dropdown-content2 a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content2 a:hover {
    background-color: lightgrey;
}

.dropdown:hover .dropdown-content2 {
    display: block;
}

/*---------------------ABOUT ME--------------------------------*/

.descripcion {
    padding: 40px;
    padding-bottom: 60px;
    margin: auto;
    text-align: center;

 /*   margin: 30px;
    -webkit-box-shadow: -1px 0px 42px -2px rgba(138,176,194,0.61);
    -moz-box-shadow: -1px 0px 42px -2px rgba(138,176,194,0.61);
    box-shadow: -1px 0px 42px -2px rgba(138,176,194,0.61);
     */
}

.descripcion h1 {
    color: #0B4C5F;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    
}

.descripcion p {
    font-family: Arial, Helvetica, sans-serif;
    color: #A49E9E;
    font-size: 20px;
}


.datos_personales img {
    float: right;
    
}

.datos_personales {
        background-color: #F2F2F2;
        padding: 70px;
}

.datos_personales datos {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
}

.datos2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; 
}

.icon {
    color: #F7819F;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px; 
}