<section  class = "title_box2 title_background2">
            
            <!--- DROPDOWN MENU ------>
            
            <nav>
                <div class="dropdown">
                      <button class="dropbtn2"><i class="fa fa-bars w3-text-white w3-xxxlarge"></i></button>     
                      <div class="dropdown-content2">
                        <a href="DAW y BD.html">Inicio</a>
                        <a href="Lab 1/Laboratorio_1.html">HTML 5</a>
                        <a href="Lab 3/Laboratorio_3.html">CSS</a>
                        <a href="Lab 4/Laboratorio_4.html">JavaScript</a>
                        <a href="Lab 5/Laboratorio_5.html">Programación Orientada a Eventos</a>
                        <a href="Lab 6/Laboratorio_6.html">Documentos Dinámicos con JavaScript</a>
                        <a href="Lab 7/Laboratorio_7.html">Front-end Frameworks</a>
                        <a href="Lab 8/Laboratorio_8.php">Introducción a PHP</a>
                        <a href="Lab 11/Laboratorio_11.php">Formas con PHP y modelo en capas</a>
                        <a href="Lab 13/Formulario.php">Manejo de Sesiones PHP</a>
                            
                        <a href="Lab 14/index.php">PHP. Vistas dinámicas</a>
                          <a href="Lab 16/index.php">PHP. Manipulación registros</a>
                          <a href="Lab 17/index.php">Ajax</a>
                        <a href="Lab 20/Lab20_client/index.php">Servicios web REST</a>
                        
                        <a href="BD/Investiacion_1.html">Investigación 1</a>
                        <a href="Cuestionario_BD_DBMS/Cuestionario_BD_DBMS.html">Cuestionario BD &amp DBMS</a>

                      </div>
                    </div>
            </nav> 
            
            <!--------TITLE--------->
            
            <div class="title_square2">
                <h1 class = "title fadeInDown">Consultas PHP</h1>
            </div>
        </section>