<?php include('_header.html'); ?>

<?php include('_menu.html'); ?>       
<section class = "contenido">
    <p>La aplicación que estamos desarrollando para esta materia ya tiene la integración del API de Google por lo que Lalo nos permitió utilizar este para la entrega del laboratorio, la dirección de la página se encuentra a continuación:</p>
    <a href="https://famc-lets-meet.firebaseapp.com/"><h2>Lets Meet!</h2></a>
</section>
<section>
            <div class = "preguntas">
                <h1><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>  Preguntas</h1>
                
                  <h3>¿Qué ventajas y desventajas tiene la integración de tus aplicaciones web con servicios web desarrollados por terceros?</h3>
                <p> Las ventajas que tiene es que te permite utilizar diferentes funcionalidades para tu aplicacion facilitandote ciertas actividades que llevaría más tiempo codificarlas, por lo cual te ahorras tiempo. Otra ventaja es que puedes hacer uso de APIs para validar información o sesiones. Por otro lado también hay desventajas las cuales son el manejo de un API que requiere un profundo conocimiento de esta para su buen manejo, la aplicación a veces debe reestructurarse si no se adaptó en un inicio para incorporar servicios web, entre otros</p>
                                          
                         
            </div>
            
        </section>
         <section>
            <div class = "referencias">
             <h1><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Referencias</h1>
              
                 <a>N.A. (S.F). Google Calendar API. 20 de Abril de 2016, de Google developers: https://developers.google.com/google-apps/calendar/</a> <br>
                
                
            </div>
        </section>


<?php include('_footer.html'); ?>