<form class = "form-group" action="nuevo.php" method="POST">
        <label class="sr-only" for="Nombre">Nombre</label>
        <input type="text" name="Nombre"/>
        <label class="sr-only" for="ApellidoPaterno">Apellido Paterno</label>
        <input type="text" name="ApellidoPaterno"/>
         <label class="sr-only" for="ApellidoMaterno">Apellido Materno</label>
        <input type="text" name="ApellidoMaterno"/>
         <label class="sr-only" for="Prueba1">Prueba 1</label>
        <input type="text" name="Prueba1"/>
         <label class="sr-only" for="Prueba2">Prueba 2</label>
        <input type="text" name="Prueba 2"/>
         <label class="sr-only" for="Prueba3">Prueba 3</label>
        <input type="text" name="Prueba 3"/>
         <label class="sr-only" for="Genero">Genero</label>
        <input type="text" name="Genero"/>
      
        <input type="submit" name="Guardar" id = "Guardar" value="Guardar"/>
    </form>