<form class = "form-group col-xs-6 col-sm-4" action="nuevo.php" method="POST">
    
        <input type="text" class="form-control" placeholder = "NumCompetidor" name="NumCompetidor"/>
        
        <input type="text" class="form-control" placeholder = "Nombre" name="Nombre"/>
    
        <input type="text" class="form-control" placeholder = "ApellidoPaterno" name="ApellidoPaterno"/>
        
        <input type="text" class="form-control" placeholder ="ApellidoMaterno" name="ApellidoMaterno"/>

        <input type="text" class="form-control" placeholder = "Prueba1" name="Prueba1"/>
         
        <input type="text" class="form-control" placeholder = "Prueba2" name="Prueba2"/>
        
        <input type="text" class="form-control" placeholder = "Prueba3" name="Prueba3"/>
        
        <input type="text" class="form-control" placeholder= "Genero" name="Genero"/>
      
        <input type="submit" name="Guardar" id = "Guardar" value="Guardar"/>
    </form> 
