<form class = "form-group col-xs-6 col-sm-4" action="eliminar.php" method="POST">
    
        <input type="text" class="form-control" placeholder = "NumCompetidor" name="NumCompetidor"/>
      
      
        <input type="submit" name="Guardar" id = "Guardar" value="Guardar"/>
    </form> 
