        <section>
            <div class = "preguntas">
                <h1><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>  Preguntas</h1>
                
                  <h3>¿Por qué es una buena práctica separar el modelo del controlador?.</h3>
              
                <p>Porque permite tener un orden en la información que se despliega y sólo incluir archivos especificos a la hora de correr una aplicación en lugar de tener archivos muy grandes de html. Además con el código separado es más fácil realizar modificaciones en un futuro además de que optimizamos el código. </p>
               
            </div>
            
        </section>
         <section>
            <div class = "referencias">
             <h1><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Referencias</h1>
              
                 <a>N.A. (S.F). ODBC - Open DataBase Connectivity. 11 Marzo de 2016, de Webopedia Sitio web: http://www.webopedia.com/TERM/O/ODBC.html</a> <br>
                <a>N.A. (S.F.). SQL Injection. 11 Marzo de 2016, de w3Schools Sitio web: http://www.w3schools.com/sql/sql_injection.asp</a>
                
            </div>
        </section>
