<?php include('_header.html'); ?>

<?php include('_menu.html'); ?>
<h1>Datos del Nuevo Competidor</h1>
<div class="container">

<?php include('_formulario.html'); ?>
    
</div>



<?php include('_footer.html'); ?>