<?php include('_header.html'); ?>

<?php include('_menu.html'); ?>
<h1>Ingresa el número de competidor</h1>
<div class="container">

<?php include('_formularioEliminar.html'); ?>
    
</div>



<?php include('_footer.html'); ?>