<?php include('_header.html'); ?>
         
     
    <section  class = "title_box2 title_background2">
            
            <!--- DROPDOWN MENU ------>
            
            <nav>
                <div class="dropdown">
                      <button class="dropbtn2"><i class="fa fa-bars w3-text-white w3-xxxlarge"></i></button>     
                      <div class="dropdown-content2">
                        <a href="DAW y BD.html">Inicio</a>
                        <a href="Lab 1/Laboratorio_1.html">HTML 5</a>
                        <a href="Lab 3/Laboratorio_3.html">CSS</a>
                        <a href="Lab 4/Laboratorio_4.html">JavaScript</a>
                        <a href="Lab 5/Laboratorio_5.html">Programación Orientada a Eventos</a>
                        <a href="Lab 6/Laboratorio_6.html">Documentos Dinámicos con JavaScript</a>
                        <a href="Lab 7/Laboratorio_7.html">Front-end Frameworks</a>
                        <a href="Lab 8/Laboratorio_8.php">Introducción a PHP</a>
                        <a href="Lab 11/Laboratorio_11.php">Formas con PHP y modelo en capas</a>
                        <a href="Lab 13/Formulario.php">Manejo de Sesiones PHP</a>
                            
                        <a href="Lab 14/index.php">PHP. Vistas dinámicas</a>
                          <a href="Lab 16/index.php">PHP. Manipulación registros</a>
                          <a href="Lab 17/index.php">Ajax</a>
        <a href="Lab 20/Lab20_client/index.php">Servicios web REST</a>
                        
                        <a href="BD/Investiacion_1.html">Investigación 1</a>
                        <a href="Cuestionario_BD_DBMS/Cuestionario_BD_DBMS.html">Cuestionario BD &amp DBMS</a>

                      </div>
                    </div>
            </nav> 
            
            <!--------TITLE--------->
            
            <div class="title_square2">
                <h1 class = "title fadeInDown">AJAX</h1>
            </div>
        </section>
        <section>
            <div class = "descripcion">
                <h1><i class="fa fa-file-text-o"></i> Descripción</h1>
                <p>En esta actividad haremos una introducción a las tecnologías AJAX.

                </p>
            </div>
        </section>
        <section class ="ajax">
            <h1><i class="fa fa-laptop"></i> Ejercicios AJAX</h1><br>
            <form class = "form-group col-xs-6 col-sm-4" >
                <input id = "userInput" type="text" class="form-control" placeholder = "Intro AJAX" onkeyup = "sendRequest()"/>  
            </form> 
            
            <div id = "ajaxResponse">    
            </div>
       
         </section>
        <section class ="parte2">
                 <div>
                <p>El proyecto de está materia tiene implementado lo visto en este laboratorio, Lalo aceptó el proyecto como parte de esta entrega.</p>
            </div>
        </section>
                <section>
            <div class = "preguntas">
                <h1><i class="fa fa-question-circle"></i>Preguntas</h1>
                
                  <h3>¿Qué importancia tiene AJAX en el desarrollo de RIA's (Rich Internet Applications?</h3>
              
                <p>Permite que la página realice peticiones al servidor de manera más rápida lo cual impacta positivamente en el funcionamiento ya que actualiza el contenido de al página en tiempo real y de forma asíncrona, ademas de que mejora la percepción que tiene el usuario sbre la página, no es necesario esperar a que la página se recargue completamente.</p>
                
                <h3>¿Qué implicaciones de seguridad tiene AJAX? ¿Dónde se deben hacer las validaciones de seguridad, del lado del cliente o del lado del servidor?</h3>
              
                <p>La lógica de seguridad de una aplicación debería permanecer en el lado del servidor ya que del lado del cliente es más propenso a recibir ataques así como también siempre se deben validar las entradas en el servidor.</p>
                
                <h3>¿Qué es JSON?</h3>
              
                <p>Es un formato de javascript para el intercambio de datos. JSON significa JavaScript Object Notation y es fácil de leer y escribir. Se puede contruir como un objeto o como un arreglo.</p>
               
            </div>
            
        </section>
         <section>
            <div class = "referencias">
             <h1><i class="fa fa-book"></i>Referencias</h1>
              
                 <a>N.A. (S.F.). AJAX Tutorial. 26 Marzo de 2016, de w3Schools Sitio web: http://www.w3schools.com/ajax/ajax_xmlhttprequest_send.asp</a>
                <a>N.A. (S.F.). Seguridad en Aplicaciones Web 2.0       . 26 Marzo de 2016, de w3Schools Sitio web: http://www.revistadintel.es/Revista/Numeros/Numero5/Seguridad/polanco.pdf</a>
                
                
                
            </div>
        </section>

<?php include('_footer.html'); ?>