.ajax {
    padding: 5%;
    background-color: beige;
}

.ajax h1 {
    color: darksalmon;
    text-align: center;
    font-weight: 600;
    font-size: 40px;
}

#ajaxResponse {
    position: inherit;
      
}

.parte2 {
    padding: 5%;
    font-size: 20px;
}

.preguntas {
    background-color: bisque;
    padding: 5%;
}

.preguntas h1 {
    text-align: center;
    font-weight: 600;
    font-size: 40px;    
}

.referencias {
    padding: 5%;
}

.referencias h1 {
    color: darksalmon;
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    
}