.main {
    background-color: aliceblue;
}



.aside {
    background-color: gray;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    color: white;
  
}

.aside h1 {
    color: lightblue;   
}

.aside th:hover {
    color: cadetblue;
    
}

.header{
    background-color: darkcyan;
    color: white;
    
}

.article {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    padding-top: 15%;
    padding-left: 10%;
    padding-right: 10%; 
        
}

.datos {
    font-size: 16px;
    
}

.aficiones {
    color: darkcyan;
}

.title_square {
   
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    position: relative; 
    color: darkseagreen;
    
}
.title {
    font-size: 100px;
}
.material p{
    font-size: 18px;
    color: lightseagreen;
}

.material h2 {
    font-weight: 700;
}

.referencias p {
    font-size: 18px;
    color: limegreen;
}

.referencias h2 {
    font-weight: 700;
}
.funciones {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    background-color: antiquewhite;
}

.funciones h1{
    font-size: 20px;
    color: crimson;
}
.funcion4 {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
}

.preguntas {
    background-color: antiquewhite;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tabla {
    border: solid;
    background-color: bisque;
    
}