<?php include('_header.html'); ?>
         
     
    <section  class = "title_box2 title_background2">
            
            <!--- DROPDOWN MENU ------>
            
            <nav>
                <div class="dropdown">
                      <button class="dropbtn2"><i class="fa fa-bars w3-text-white w3-xxxlarge"></i></button>     
                      <div class="dropdown-content2">
                        <a href="DAW y BD.html">Inicio</a>
                        <a href="Lab 1/Laboratorio_1.html">HTML 5</a>
                        <a href="Lab 3/Laboratorio_3.html">CSS</a>
                        <a href="Lab 4/Laboratorio_4.html">JavaScript</a>
                        <a href="Lab 5/Laboratorio_5.html">Programación Orientada a Eventos</a>
                        <a href="Lab 6/Laboratorio_6.html">Documentos Dinámicos con JavaScript</a>
                        <a href="Lab 7/Laboratorio_7.html">Front-end Frameworks</a>
                        <a href="Lab 8/Laboratorio_8.php">Introducción a PHP</a>
                        <a href="Lab 11/Laboratorio_11.php">Formas con PHP y modelo en capas</a>
                        <a href="Lab 13/Formulario.php">Manejo de Sesiones PHP</a>
                        <a href="Lab 14/index.php">PHP. Vistas dinámicas</a>
                          <a href="Lab 16/index.php">PHP. Manipulación registros</a>
                          <a href="Lab 17/index.php">Ajax</a>
                        <a href="Lab 20/Lab20_client/index.php">Servicios web REST</a>
                          
                        
                        <a href="BD/Investiacion_1.html">Investigación 1</a>
                        <a href="Cuestionario_BD_DBMS/Cuestionario_BD_DBMS.html">Cuestionario BD &amp DBMS</a>

                      </div>
                    </div>
            </nav> 
            
            <!--------TITLE--------->
            
            <div class="title_square2">
                <h1 class = "title fadeInDown">Servicios web REST</h1>
            </div>
        </section>
       
                <section>
            <div class = "preguntas">
                <h1><i class="fa fa-question-circle"></i>Preguntas</h1>
                
                  <h3>¿A qué se refiere la descentralización de servicios web?</h3>
              
                <p>Se refiere a cuando se tienen diferentes servidores con los sericios de manera que si uno falla, se direccionará al otro y evitará que el usuario no pueda entrar. Para poder hacerlo se valida la respuesta que se recibe del servidor, si se recibe se direcciona a ese servidor, si no, se direcciona al otro.</p>
                
                <h3>¿Cómo puede implementarse un entorno con servicios web disponibles aún cuando falle un servidor?</h3>
              
                <p>Utilizando la descentralización de servicios mediante el cual, al momento en que se crea la conexión con el servidor principal, se valida si se realizó la conexión y si se recibe una respuesta de este servidor, en caso de que no se reciba respuesta querrá decir que el servidor falló y automáticamente el sistema sabrá que debe conectarse con el servidor auxiliar.</p>
                
               
            </div>
            
        </section>
         <section>
            <div class = "referencias">
             <h1><i class="fa fa-book"></i>Referencias</h1>
              
                 <a>N.A. (S.F.). AJAX Tutorial. 26 Marzo de 2016, de w3Schools Sitio web: http://www.w3schools.com/ajax/ajax_xmlhttprequest_send.asp</a>
                <a>N.A. (S.F.). Seguridad en Aplicaciones Web 2.0       . 26 Marzo de 2016, de w3Schools Sitio web: http://www.revistadintel.es/Revista/Numeros/Numero5/Seguridad/polanco.pdf</a>
                
                
                
            </div>
        </section>

<?php include('_footer.html'); ?>